@import "../../Utilities/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchbox__input {
    margin-top: 20px;
    font-size: 20px;
}

.searchbox {
    color: $color-search;
    text-shadow: $color-shadow 2px 2px 2px;
    margin-top: 10rem;
    font-size: x-large;

    label {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 835px) {
    .searchbox__input {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .searchbox {
        margin-top: 0;
    }
}
