

.card-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(20, 1fr);
    // gap: 1rem;
    text-align: center;
    justify-content: center;

    z-index: 1000;

    margin-left: 25rem;
}
