* {
    margin: 0;
    padding: 0;
}
.card {
    background-color: rgb(255, 236, 216);
    border-radius: 1rem;
    box-shadow: 0 1px 4px black;
    padding: .6rem;
    width: 30rem;
    margin: 5rem;


    &__card-img {
        height: 15rem;
    }
  
}