@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,700;1,400&family=Trade+Winds&display=swap");
.App {
  text-align: center;
  font-family: "Trade Winds", cursive;
  background-color: #481D0Dff;
  height: 100%;
}

.main {
  margin-left: 15rem;
}

@media screen and (max-width: 835px) {
  .main {
    margin-top: 8rem;
    margin-left: 0;
  }
}